<!--
<div class="header-wrapper">
  <div class="left-header">
    <div class="header-icon">
      <img src="/assets/images/LogoDemo.png" />
    </div>
    <div class="header-title">
      <div class="header-title-text">Personal</div>
      <div class="header-title-text">Preparedness</div>
      <div class="header-title-text">Plan</div>
    </div>
    <div class="header-operations">
      <img *ngIf="!global.login" class="header-single-operation" (click)='openLoginDialog()' src="/assets/images/Account.png" matTooltip="Login or Register"/>
      <div *ngIf="global.login">
        <button mat-icon-button class="username-text" [matMenuTriggerFor]="menu">
          {{global.username}}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="Logout()">
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
      <img src="/assets/images/Line.png" />
      <img class="header-single-operation" (click)="openMemoDialog()" src="/assets/images/Memo.png" matTooltip="Add memo"/>
      <img class="header-single-operation" onclick='window.print()' src="/assets/images/Print.png" matTooltip="Print"/>
    </div>
  </div>
</div>
-->