
        <form [formGroup]="login_form" (ngSubmit)="Login()">
          <br>
          <mat-form-field class="form-input">
            <input matInput formControlName="username" placeholder="Enter your username" required>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <mat-form-field class="form-input">
            <input matInput formControlName="password" placeholder="Enter your password" [type]="hide2 ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
          <br>
          <button mat-raised-button color="accent" type="submit" [disabled]="( !login_form.dirty || !login_form.valid )">Login</button>
        </form>


  