<app-header></app-header>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened="true" class="example-sidenav">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <div class="content-wrapper">
    <div class="left-wrapper">
      <div class="title-wrapper">
        Prepare
      </div>
      <div class="content">
        <div class="water-left-content">
          For Drinking
          <br> For Food Preparation, Sanitation and Other Activities
          <br> For Pets
          <br>
          <br> Total
        </div>
        <div class="water-right-content">
          {{drinkwater.toFixed(2)}} Gallons
          <br> {{foodwater.toFixed(2)}} Gallons
          <br> {{petwater.toFixed(2)}} Gallons
          <br>
          <br> {{(drinkwater+foodwater+petwater).toFixed(2)}} Gallons
        </div>
      </div>
    </div>
    <div class="right-wrapper-chart">
      <div class="title-wrapper">
        Graphic
      </div>
      <br>
      <canvas #donut width="350" height="350"></canvas>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</mat-sidenav-container>
