
.half {
  width: 45%;
  padding-right: 4%;
}

.whole {
  width: 45%;
  padding-right: 4%;
  display: block;
}

.form-button {
  background: url("/assets/images/bt2-1.png");
  background-repeat: no-repeat;
  background-size: 100px 50px;
  width: 100px;
  height: 50px;
  border: none;
  margin-right: 13px;
  color: #8B2E00;
  font-size: 20px;
}

.disabled {
  background: url("/assets/images/bt2-3.png");
  background-repeat: no-repeat;
  background-size: 100px 50px;
  width: 100px;
  height: 50px;
  cursor: not-allowed;
}
/*
.form-submit {
  display: block;
  padding: 50px 0;
}

.form-wrapper {
  width: 750px;
  float: left;
}



.form-button {
  background-repeat: no-repeat;
  width: 96px;
  height: 40px;
  border: none;
  margin-right: 13px;
}

.ok {
  background: url("/assets/images/Save.png");
}

.ok-dark {
  background: url("/assets/images/Save_Dark.png");
}

.update {
  background: url("/assets/images/Update.png");
}

.update-dark {
  background: url("/assets/images/Update_Dark.png");
}

.delete {
  background: url("/assets/images/Delete.png");
}

.reset {
  background: url("/assets/images/Clear.png");
}

.right-sidebar-button-selected {
  line-height: 65px;
  display: block;
  border: none;
  background: none;
  color: #ffffff;
  font-size: 25px;
}

.select-member{
  margin-bottom: -4px;
}
*/