<app-header></app-header>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened="true" class="example-sidenav">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <div class="content-wrapper">
    <div class="left-wrapper">
      <div class="title-wrapper">
        <div *ngIf="current_title==''">Member</div>
        <div *ngIf="current_title!=''">{{current_title}}</div>
      </div>
      <div class="form-wrapper">
        <form [formGroup]="add_family_member" (ngSubmit)="FamilyMemberAdd()">
          <div class="content">
            <br>
            <br>
            <mat-radio-group formControlName="kind" style="text-align:left" required>
              <mat-radio-button value="human" name="human" class="half">Human</mat-radio-button>
              <mat-radio-button value="pet" name="pet" class="half">Pet</mat-radio-button>
            </mat-radio-group>
            <div *ngIf="add_family_member.get('kind').value=='human'">
              <mat-form-field class="half">
                <input matInput formControlName="firstname" placeholder="Enter your first name" required>
                <mat-icon matSuffix>person</mat-icon>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
              <mat-form-field class="half">
                <input matInput formControlName="lastname" placeholder="Enter your last name" required>
                <mat-icon matSuffix>person</mat-icon>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
              <mat-radio-group formControlName="gender" style="text-align:left" required>
                <mat-radio-button value="male" name="male" class="half">Male</mat-radio-button>
                <mat-radio-button value="female" name="female" class="half">Female</mat-radio-button>
              </mat-radio-group>
              <br>
              <br>
              <mat-form-field class="whole">
                <input matInput formControlName="birthdate" [matDatepicker]="picker" placeholder="Choose your birth date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="whole">
                <input matInput formControlName="phone" placeholder="Enter your phone number" required>
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
              <mat-form-field class="whole">
                <mat-select formControlName="health" placeholder="Health Condition">
                  <mat-option value="Healthy">Healthy</mat-option>
                  <mat-option value="Hepatitis">Hepatitis</mat-option>
                  <mat-option value="Arrhythmia">Arrhythmia</mat-option>
                  <mat-option value="Diabetes">Diabetes</mat-option>
                  <mat-option value="Epilepsy">Epilepsy</mat-option>
                  <mat-option value="Arthritis">Arthritis</mat-option>
                  <mat-option value="Rheumatism">Rheumatism</mat-option>
                  <mat-option value="Septicemia">Septicemia</mat-option>
                  <mat-option value="Anemia">Anemia</mat-option>
                  <mat-option value="Smallpox">Smallpox</mat-option>
                  <mat-option value="Pharyngitis">Pharyngitis</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="add_family_member.get('kind').value=='pet'">
              <mat-form-field class="whole">
                <input matInput formControlName="petname" placeholder="Enter your pet name" required>
                <mat-icon matSuffix>pets</mat-icon>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
              <mat-form-field class="whole">
                <input matInput formControlName="weight" placeholder="Enter your pet weight" required>
                <span matSuffix>kg</span>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
              <mat-form-field class="whole">
                <mat-select formControlName="pettype" placeholder="Pet Type">
                  <mat-option value="dog">Dog</mat-option>
                  <mat-option value="cat">Cat</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="!check_valid()" class="form-submit">
              <button *ngIf="current_title==''" type="submit" class="form-button ok" matTooltip="Add information"></button>
              <button *ngIf="current_title!=''" type="button" (click)="update()" class="form-button update" matTooltip="Update information"></button>
              <button *ngIf="current_title!=''" type="button" (click)="delete()" class="form-button delete" matTooltip="Delete information"></button>
              <button type="button" (click)="reset();" class="form-button reset" matTooltip="Reset the form"></button>
            </div>
            <div *ngIf="check_valid()" class="form-submit">
              <button *ngIf="current_title==''" type="button" class="form-button ok-dark" matTooltip="Please fill out the form!"></button>
              <button *ngIf="current_title!=''" type="button" class="form-button update-dark" matTooltip="Please fill out the form!"></button>
              <button *ngIf="current_title!=''" type="button" (click)="delete()" class="form-button delete" matTooltip="Delete information"></button>
              <button type="button" (click)="reset();" class="form-button reset" matTooltip="Reset the form"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="right-wrapper">
      <div class="right-title">Member Lists</div>
      <br>
      <br>
      <button *ngFor="let human of humans" [ngClass]="(human.id==current_human_id)?'right-sidebar-button-selected':'right-sidebar-button'" (click)="selectHuman(human)" matTooltip="Select to update information">
        <img class="select-member" src="/assets/images/Arrow.png"/>
        {{ human.firstname }} {{human.lastname}}
      </button>
      <button *ngFor="let pet of pets" [ngClass]="(pet.id==current_pet_id)?'right-sidebar-button-selected':'right-sidebar-button'" (click)="selectPet(pet)" matTooltip="Select to update information">
          <img class="select-member" src="/assets/images/Arrow.png"/>
        {{ pet.petname }}
      </button>
      <button class="right-sidebar-button" (click)="addnew()" matTooltip="Add new member">
          <img class="select-member" src="/assets/images/Add.png"/>
        New Member
      </button>
    </div>
  </div>
</mat-sidenav-container>
