.travel-header {
  color: #b0afaf;
  line-height: 40px;
  font-size: 26px;
  margin-bottom: 50px;
}

.travel-select {
  color: #b0afaf;
  display: block;
  font-size: 25px;
  line-height: 60px;
}

.travel-tip-wrapper {
  padding-left: 50px;
}
